.menu {
  border-right: 3px solid var(--outline-color);
  height: 100%;
  width: 65px;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--background-color);

  &__logo-wrapper {
    height: var(--top-bar-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--outline-color);
  }

  &__list {
    // border-right: 3px solid var(--outline-color);
    height: 100%;
    padding: var(--padding-regular);
  }

  &__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    // &:first-child {
    //   margin-top: 10px;
    // }
    margin-top: 20px;
    text-decoration: none;
    padding: 8px;
    transition: all 300ms;
    display: block;
    border-radius: 9px;
    color: var(--gray-text-color);

    &:hover {
      color: var(--primary-blue-color);
      background: var(--hover-bg-blue-color);
    }
  }

  // &__link:first-child {
  // }

  &__li {
    // margin-top: 30px;
    list-style-type: none;
    color: var(--gray-text-color);
    // cursor: pointer;
  }

  &__li:first-child {
    margin-top: 15px;
  }

  &__icon {
    font-size: var(--font-size-large);
    display: flex;
  }

  &__logo {
    width: 32px;
    height: 32px;
  }
}
